@media (max-width: 768px){
    .div-main{
        height: auto;
        left: 50px;
    }
    .head-main{
        font-size: 50px;
        width: 100%;
    }
    .btn-main{
        width: 30%;
        padding: 10px 15px;
        font-size: 15px;
    }
    .section-info{
        height: 300px;
    }
    .info-box1{
        left: 50px;
    }
    .info-box2{
        left: 288px;
    }
    .info-box3{
        left: 525px;
    }
    .icn-info{
        padding-left: 75px;
        font-size: 35px;
    }
    .head-info{
        padding-left: 10px;
        font-size: 20px;
        text-align: center;
    }
    .para-info{
        padding-left: 15px;
    }
    
    .section-sugar{
        height: 663px;
    }
    .info-sugar{
        left: 185px;
    }
    .sugar-img1{
        margin-left: 35px;
    }
    .sugar-img4{
        margin-left: 35px;
    }
    .section-ideas{
        height: 1000px;
    }
    .info-ideas{
        left: 185px;
    }
    .paragraph-ideas{
        width: 150%;
        margin-left: -85px;
    }
    .para-idea-1{
        margin-left: 120px;
        width: 21%;
    }
    .head-idea-2{
        margin-top: -252px;
    }
    .para-idea-2{
        margin-left: 440px;
        width: 21%;
    }
    .head-idea-3{
        margin-left: 75px;
        margin-top: 75px;
    }
    .para-idea-3{
        margin-left: 120px;
        width: 21%;
    }
    .head-idea-4{
        margin-top: -252px;
        margin-left: 395px;
    }
    .para-idea-4{
        margin-left: 440px;
        width: 21%;
    }
    .btn-ideas{
        top: 900px;
        left: 295px;
    }
    .div-food{
        top: 50px;
    }
    .food-img-1{
        margin-left: 25px;
        width: 45%;
        height: 200px;
    }
    .food-box-1{
        width: 45%;
        height: 200px;
    }
    .food-img-2{
        margin-left: 25px;
        width: 45%;
        height: 200px;
        margin-top: 215px;
    }
    .food-box-2{
        width: 45%;
        height: 200px;
        top: 215px;
        left: 385px;
    }
    .head-food{
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: left;
        padding-left: 15px;
    }
    .para-food{
        font-size: 15px;
        padding-left: 15px;
        padding-bottom: 0px;
        text-align: left;
    }
    .last-img{
        height: 310px;
    }
    .head-last{
        margin-top: 25px;
        margin-left: 10px;
        font-size: 25px;
    }
    .last-para-1{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 15px;
    }
    .last-para-2{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 15px;
    }
    .last-para-3{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 15px;
        margin-bottom: 5px;
    }
}

@media (max-width: 375px){
    .div-main{
        top: 150px;
        height: auto;
        left: 50px;
    }
    .head-main{
        font-size: 33px;
        width: 100%;
    }
    .btn-main{
        width: 43%;
        padding: 10px 15px;
        font-size: 10px;
    }
    .section-info{
        height: 720px;
    }
    .info-box1{
        left: 37px;
        width: 80%;
        height: 230px;
    }
    .info-box2{
        left: 37px;
        width: 80%;
        top: 200px;
        height: 230px;
    }
    .info-box3{
        left: 37px;
        width: 80%;
        top: 453px;
        height: 230px;
    }
    .icn-info{
        padding-left: 125px;
    }
    .section-sugar{
        height: 2200px;
    }
    .info-sugar{
        left: 80px;
    }
    .head-sugar{
        font-size: 22px;
    }
    .para-sugar{
        width: 177%;
        margin-left: -60px;
    }
    .sugar-img1{
        width: 90%;
        margin-left: 17px;
    }
    .sugar-img2{
        position: relative;
        top:10px;
        width: 90%;
        left: 17px;
    }
    .sugar-img3{
        position: relative;
        top:20px;
        width: 90%;
        left: 17px;
    }
    .sugar-img4{
        position: relative;
        top:30px;
        width: 90%;
        left: 17px;
        margin-left: 0px;
    }
    .sugar-img5{
        position: relative;
        top:40px;
        width: 90%;
        left: 17px;
    }
    .sugar-img6{
        position: relative;
        top:50px;
        width: 90%;
        left: 17px;
    }
    .section-ideas{
        height: 2050px;
    }
    .info-ideas{
        left: 80px;
    }
    .heading-ideas{
        font-size: 27px;
    }
    .paragraph-ideas{
        width: 150%;
        font-size: 10px;
        margin-left: -38px;
    }
    .para-idea-1{
        width: 30%;
        margin-left:160px;
    }
    .head-idea-2{
        margin-top: 50px;
        margin-left: 70px;
    }
    .para-idea-2{
        width: 30%;
        margin-left:160px;
    }
    .head-idea-3{
        margin-top: 50px;
        margin-left: 70px;
    }
    .para-idea-3{
        width: 30%;
        margin-left:160px;
    }
    .head-idea-4{
        margin-top: 50px;
        margin-left: 70px;
    }
    .para-idea-4{
        width: 30%;
        margin-left:160px;
    }
    .btn-ideas{
        top: 1950px;
        left: 127px;
        font-size: 15px;
        width: 30%;
    }
    .section-food{
        height: 915px;
    }
    .div-food{
        top: 50px;
    }
    .food-img-1{
        margin-left: 37px;
        width: 80%;
        height: 200px;
    }
    .food-box-1{
        margin-top: 205px;
        margin-left: -346px;
        width: 80%;
        height: 200px;
    }
    .food-img-2{
        margin-top: 425px;
        margin-left: 37px;
        width: 80%;
        height: 200px;
    }
    .food-box-2{
        margin-top: 417px;
        margin-left: -346px;
        width: 80%;
        height: 200px;
    }
    .last{
        height: 725px;
    }
    .last-img{
        top: 50px;
        width: 80%;
        left: 37px;
    }
    .last-box{
        top: 375px;
        width: 80%;
        left: 37px;
    }
}